body{
    background-image: url("deg.png");
}
.container{
    background-color: white;
    text-align: center;
    margin-top: 10%;
    height: 500px;
    width: 500px;
    border-radius: 5%;
}
.container h1{
    padding-top: 5%;
    font-style: italic;
    color:  rgb(85, 148, 156);
    font-weight: bold;
}
.form{
    margin-top: 5%;
    font-weight: bold;
}
.form-group{
    margin-top: 5%;
}

#sign{   
    display: none;
}

.container h2{
    padding-top: 1%;
    font-style: italic;
    color:  rgb(61, 93, 196);
    font-weight: bold;
}
#sign button{
    margin-top: 5px;
}
#navi button{
    margin-top: 5px;
}
.alert{
    color: red;
    font-weight: bolder;
}